@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Nothing+You+Could+Do); /* Google font */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
    background-color: #fffdf7;
}
#boxForm {
    /*登入開始*/
    background-color: #fddd75;
    width: 340px;
    position: absolute;
    top: 20%;
    left: 50%;

    margin-left: -170px;
    box-shadow: 1px 1px 8px #b88f0b;
}

#boxForm #title {
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}

#boxForm form {
    margin-top: 20px;
    text-align: center;
}

.text {
    padding: 10px;
    width: 250px;
    margin-top: 10px;
    border-style: none;
    border-bottom-style: solid;
    border-color: #be9407;

    font-size: 15px;
    color: #c4a43d;
    background-color: rgb(253, 219, 105);
}

.text:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border-style: none;
    outline: none; /* to delete blue outline*/
}

#pwd {
    margin-bottom: 5px;
}

/* Custom  placeholder */

::-webkit-input-placeholder {
    color: #be9407;
    font-weight: bold;
    font-size: 16px;
}
::-moz-placeholder {
    color: #be9407;
    font-weight: bold;
    font-size: 16px;
} /* firefox 19+ */
:-ms-input-placeholder {
    color: #be9407;
    font-weight: bold;
    font-size: 16px;
} /* ie */
input:-moz-placeholder {
    color: #be9407;
    font-weight: bold;
    font-size: 16px;
}

#boxForm form label {
    float: left;
    margin-left: 5px;
    color: rgb(244, 102, 27);
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}

#pwd {
    margin-bottom: 15px;
}

.button {
    padding: 10px;
    width: 150px;

    /* Background par colorzilla.com */
    background: #fdd85d; /* Old browsers */
    background: -moz-linear-gradient(
        top,
        rgba(255, 175, 75, 1) 0%,
        rgba(255, 146, 10, 1) 100%
    ); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,175,75,1)), color-stop(100%,rgba(255,146,10,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(
        top,
        rgba(255, 175, 75, 1) 0%,
        rgba(255, 146, 10, 1) 100%
    ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(
        top,
        rgba(255, 175, 75, 1) 0%,
        rgba(255, 146, 10, 1) 100%
    ); /* Opera 11.10+ */
    background: -ms-linear-gradient(
        top,
        rgba(255, 175, 75, 1) 0%,
        rgba(255, 146, 10, 1) 100%
    ); /* IE10+ */
    background: linear-gradient(
        to bottom,
        rgba(255, 175, 75, 1) 0%,
        rgba(255, 146, 10, 1) 100%
    ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FDC921', endColorstr='#FDC921',GradientType=0 ); /* IE6-9 */

    font-family: "Montserrat", sans-serif;

    font-size: 15px;
    border-style: none;
    box-shadow: 1px 1px #fdd85d;
    cursor: pointer;

    color: white;
    font-weight: bold;
    margin: 20px;
} /*登入結束*/

span {
    font-size: 20px;
}
.dropdown-item {
    margin: center;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.abgne_tab {
    clear: left;
    width: 400px;
    margin: center;
}
ul.tabs {
    width: 100%;
    height: 32px;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
}
ul.tabs li {
    float: left;
    height: 31px;
    line-height: 31px;
    overflow: hidden;
    position: relative;
    margin-bottom: -1px; /* 讓 li 往下移來遮住 ul 的部份 border-bottom */
    border: 1px solid #999;
    border-left: none;
    background: #e1e1e1;
}
ul.tabs li button {
    display: block;
    padding: 0 20px;
    color: #000;
    border: 1px solid #fff;
    text-decoration: none;
}
ul.tabs li a:hover {
    background: #ccc;
}
ul.tabs li.active {
    background: #fff;
    border-bottom: 1px solid#fff;
}
ul.tabs li.active a:hover {
    background: #fff;
}
div.tab_container {
    clear: left;
    width: 100%;
    border: 1px solid #999;
    border-top: none;
    background: #fff;
}
div.tab_container .tab_content {
    padding: 20px;
}
div.tab_container .tab_content h2 {
    margin: 0 0 20px;
}

table {
    width: 100%;
    table-layout: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: solid 1px rgb(0, 0, 0);
}
.tbl-header {
    background-color: #99d6ea;
    text-align: center;
}
.tbl-content {
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
th {
    padding: 20px 15px;
    text-align: center;
    vertical-align: middle;
    font-weight: 500;
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: rgb(0, 0, 0);
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}
section {
    margin: 50px;
}

#body-row {
    margin-left: 0;
    margin-right: 0;
}
#sidebar-container {
    min-height: 100vh;
    background-color: #fdd85d;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: black;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #fdd85d;
    height: 35px;
}
.sidebar-separator {
    background-color: #fdd85d;
    height: 25px;
}
.logo-separator {
    background-color: #fdd85d;
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container
    .list-group
    .list-group-item[aria-expanded="false"]
    .submenu-icon::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container
    .list-group
    .list-group-item[aria-expanded="true"]
    .submenu-icon::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}
